@{
    ViewBag.Title = "首页";
}

<div class="container">
    <div style="margin-top:100px;">
        <div class="row" style="padding:200px 0;">
            <div class="pull-left col-xs-4">
                <a href="~/Broke" class="btn btn-primary" style="width: 100%; line-height: 100px; font-size: 80px; border-radius: 20px 20px;">爆料管理</a>
            </div>
           
            <div class="pull-right col-xs-4">
                <a href="~/Actity" class="btn btn-primary" style="width: 100%; line-height: 100px; font-size: 80px; border-radius: 20px 20px;">活动管理</a>
            </div>

        </div>

    </div>
</div>

